@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;
@use "../layouts/flex"as *;

.bg-light {
    background-color: rgba(255, 251, 245, 1);
}

.special__title {
    @include color("deep-mauve");
    @include font-secondary(62);
    letter-spacing: -0.2px;
    line-height   : 75px;
    text-align    : center;

    @include devices(m) {
        font-size  : 2.5rem;
        line-height: normal;
    }
}

.special__subtitle {
    @include color("slate-gray");
    @include font-primary(12, 600);
    display       : block;
    letter-spacing: 2px;
    line-height   : 22px;
    text-align    : center;
    text-transform: uppercase;
}

.cart-quantity {
    @include color("pure-white");
    @include font-primary(12, 600);
    align-items    : center;
    background     : map-get($map: $theme-color, $key: "sunset-amber");
    border-radius  : 4px;
    cursor         : pointer;
    display        : none;
    height         : 20px;
    justify-content: center;
    text-align     : center;
    width          : 20px;
}

.js-cart__actived {
    display: flex;
}

.error-message {
    @include font-primary(14);
    color  : #FF0000 !important;
    display: none;
}

.error {
    display: block;
}