@use "../base/colors"as *;
@use "../base/typography"as*;
@use "../base/mixins"as *;
@use "../base/keyframes"as*;
@use "../layouts/flex"as *;


.btn-default {
    @include font-primary(14, 600);
    border-width  : 2px;
    border-style  : solid;
    border-color  : transparent;
    border-radius : 3px;
    display       : inline-block;
    color         : map-get($map: $theme-color, $key: "pure-white");
    letter-spacing: 1px;
    line-height   : 1rem;
    padding       : 14px 20px;
    text-transform: uppercase;
    transition    : .3s ease-in-out;

    @include hover() {
        @include color("bright-orange");
        background: map-get($map: $theme-color, $key: pure-white);
    }
}

.btn-white {
    border-color: map-get($map: $theme-color, $key: "pure-white");
}

.btn-orange {
    background-color: #de844f;
    border-color    : map-get($map: $theme-color, $key: pure-white);
    font-weight     : 600;
}

.btn-blue {
    background-color: map-get($map: $theme-color, $key: "blue-sky");
    text-transform  : uppercase;

    @include hover {
        border-color: map-get($map: $theme-color, $key: "blue-sky");
        color       : map-get($map: $theme-color, $key: "blue-sky");
    }
}

.btn__square {
    @include color("pure-white");
    align-items    : center;
    background     : map-get($map: $theme-color, $key: "blue-sky");
    bottom         : 20px;
    border-radius  : 4px;
    display        : none;
    height         : 40px;
    justify-content: center;
    position       : fixed;
    right          : 20px;
    transition     : .3s ease-in-out;
    width          : 40px;

    @include hover {
        opacity: .8;
    }
}

.btn__square-actived {
    @include fade-in();
    display: flex;
}