@use "../base/colors"as *;
@use "../base/typography"as*;
@use "../base/mixins"as *;
@use "../base/keyframes"as*;
@use "../layouts/flex"as *;
@use "../global/responsive"as *;


.btn-default {
    @include font-primary(14, 600);
    border-width  : 2px;
    border-style  : solid;
    border-color  : transparent;
    border-radius : 3px;
    cursor        : pointer;
    display       : inline-block;
    color         : map-get($map: $theme-color, $key: "pure-white");
    letter-spacing: 1px;
    line-height   : 1rem;
    padding       : 14px 20px;
    text-transform: uppercase;
    transition    : .3s ease-in-out;

    @include hover() {
        @include color("bright-orange");
        background: map-get($map: $theme-color, $key: pure-white);
    }
}

.btn-white {
    border-color: map-get($map: $theme-color, $key: "pure-white");
}

.btn-orange {
    background-color: #de844f;
    border-color    : map-get($map: $theme-color, $key: pure-white);
    font-weight     : 600;
}

.btn-blue {
    @include color("pure-white");
    align-items    : center;
    background     : transparent;
    background     : map-get($map: $theme-color, $key: "blue-sky");
    bottom         : 20px;
    border         : none;
    border-radius  : 4px;
    cursor         : pointer;
    display        : flex;
    height         : 40px;
    justify-content: center;
    opacity        : 0;
    position       : fixed;
    right          : 20px;
    transform      : translateY(20px);
    transition     : opacity 0.5s ease, transform 0.5s ease;
    width          : 40px;
    z-index        : 99999999;

    @include hover {
        background: map-get($map: $theme-color, $key: "ocean-depths");
    }
}

.btn-blue.visible {
    opacity  : 1;
    transform: translateY(0);
}

.btn-cart {
    @include color("pure-white");
    @include font-primary(22);
    @include flex(center, center);
    cursor    : pointer;
    gap       : 4px;
    transition: .3s ease-in-out;
    text-align: center;

    @include hover() {
        opacity: .8;
    }
}

.btn-border_black {
    @include color("black");
    @include font-primary(14, 600);
    border-color : map-get($map: $theme-color, $key: "black");
    border-radius: 40px;

    @include hover() {
        background: map-get($map: $theme-color, $key: "black");
        color     : map-get($map: $theme-color, $key: "pure-white");
    }
}

.btn__control {
    @include round(38px, true);
    @include flex(center, center);
    @include font-primary(26);
    border     : 1px solid map-get($map: $theme-color, $key: "soft-silver");
    cursor     : pointer;
    font-weight: 500;
    transition : .3s ease-in-out;

    @include hover() {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: #f5f5f5;
    }
}

.checkout__button {
    @include font-primary(16);
    border        : 2px solid transparent;
    border-radius : 50px;
    cursor        : pointer;
    font-weight   : 600;
    letter-spacing: 1px;
    line-height   : 40px;
    padding       : 0 30px;
    text-transform: uppercase;
    transition    : 0.3s ease;

    @include devices(m) {
        width  : 100%;
    }
}

.checkout__button-black {
    background  : map-get($map: $theme-color, $key: "pure-white");
    border-color: map-get($map: $theme-color, $key: "black");

    @include hover {
        @include color("pure-white");
        background  : map-get($map: $theme-color, $key: "sunset-amber");
        border-color: map-get($map: $theme-color, $key: "sunset-amber");
    }
}

.checkout__button-orange {
    @include color("pure-white");
    background  : map-get($map: $theme-color, $key: "sunset-amber");
    border-color: map-get($map: $theme-color, $key: "sunset-amber");

    @include hover {
        @include color("black");
        background  : map-get($map: $theme-color, $key: "pure-white");
        border-color: map-get($map: $theme-color, $key: "black");
    }
}