@use "sass:math";

@mixin round($size, $circle: false) {
    height: $size;
    width : $size;

    @if $circle {
        border-radius: math.div($size, 2);
    }
}

@mixin hover {
    &:hover {
        @content
    }
}

@mixin gradient-bg($url) {
    background         : linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url($url);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
}

@mixin background-img($url) {
    background         : url($url);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
}