@use "sass:math";
@use "sass:map";
@use "../util/functions"as *;

@mixin _set-font-style($font-family, $size, $weight) {
   font-family: $font-family;
   font-size  : px-to-rem($size);
   font-weight: $weight;
}

@mixin font-primary($size, $weight: 400) {
   $font-primary: "Source Sans 3", sans-serif;
   @include _set-font-style($font-primary, $size, $weight);
}

@mixin font-secondary($size, $weight: 400) {
   $font-secondary: "Playfair Display", serif;
   @include _set-font-style($font-secondary, $size, $weight);
}