/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-default {
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  border: 2px solid #ffffff;
  letter-spacing: 1px;
  line-height: 1rem;
  padding: 14px 36px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.btn-default:hover {
  color: #fcb900;
  background: #ffffff;
}

.menu__bugger {
  color: #ffffff;
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-height: 38px;
  padding-left: 0;
  padding-right: 0;
}
.menu__bugger:hover .menu__bugger-bars::after,
.menu__bugger:hover .menu__bugger-bars::before {
  width: 100%;
}
.menu__bugger:focus {
  outline: none;
}
.menu__bugger-visually {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.menu__bugger-bars {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.25s linear;
  width: 24px;
}
.menu__bugger-bars::after, .menu__bugger-bars::before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 0.25s linear;
  width: 100%;
}
.menu__bugger-bars::after {
  transform: translate(0, -8px);
}
.menu__bugger-bars::before {
  transform: translate(0, 8px);
}

.js-open-menu .menu__bugger-bars {
  background: transparent;
}
.js-open-menu .menu__bugger-bars::before {
  transform: rotate(45deg);
}
.js-open-menu .menu__bugger-bars::after {
  transform: rotate(-45deg);
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  visibility: hidden;
  z-index: 10000;
}

.js-open-modal {
  opacity: 1;
  visibility: visible;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1600px - 1px)) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
.header__container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.header__brand {
  font-family: "Playfair Display", serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: #ffffff;
}

.main {
  height: 100%;
  width: 100%;
}

.home {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/home-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  height: 110%;
  width: 100%;
}
.home__container {
  max-width: 580px;
  width: 100%;
}
.home__title {
  font-family: "Playfair Display", serif;
  font-size: 5.125rem;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 98px;
  margin-bottom: 20px;
}
@media screen and (max-width: calc(768px - 1px)) {
  .home__title {
    font-size: 42px;
    line-height: 58px;
  }
}
.home__paragraph {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 2rem;
}

.sidebar {
  align-items: start;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background: #ffffff;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 40px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(400px);
  transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 400px;
  z-index: 100001;
}
@media screen and (max-width: calc(768px - 1px)) {
  .sidebar {
    width: 280px;
  }
}
.sidebar__brand {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 500;
  display: inline-block;
}
.sidebar__paragraph {
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(102, 102, 102);
}
.sidebar__social {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: start;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  gap: 1rem;
  margin-bottom: 10px;
}
.sidebar__social a {
  color: #323232;
}
.sidebar__social a i {
  transition: 0.3s ease-in-out;
}
.sidebar__social a i:hover {
  transform: scale(1.1);
}

.navbar {
  width: 100%;
}
.navbar__list {
  width: 100%;
}
.navbar__list li {
  margin-bottom: 5px;
}
.navbar__list li a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: rgb(102, 102, 102);
  display: inline-block;
  line-height: 45px;
  padding: 4px 0;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.navbar__list li a:hover {
  color: black;
}

.js-sidebar-open {
  transform: translateZ(0) !important;
}

.js-actived-link {
  color: black !important;
}

.wine {
  padding: 100px 0;
  width: 100%;
}
@media screen and (max-width: calc(768px - 1px)) {
  .wine {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.wine__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: calc(768px - 1px)) {
  .wine__container {
    grid-template-columns: 1fr;
  }
  .wine__container:nth-child(2) .wine__container-row:nth-child(1) {
    order: 2;
  }
  .wine__container:nth-child(2) .wine__container-row:nth-child(2) {
    order: 1;
  }
}
.wine__container-row {
  align-content: center;
  justify-content: center;
  padding: 0 20px;
}
.wine__container-row img {
  display: block;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .wine__container-row {
    padding: 0;
  }
}
.wine__description {
  color: #5d6163;
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}
.wine__title {
  color: #76445f;
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 60px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) and (max-width: calc(1600px - 1px)) {
  .wine__title {
    width: 13ch;
  }
}
@media screen and (min-width: 1600px) {
  .wine__title {
    width: 13ch;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .wine__title {
    font-size: 32px;
    line-height: 36px;
  }
}
.wine__paragraph {
  color: #5d6163;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  margin: 1rem 0;
}
.wine__link {
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #de844f;
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: start;
  letter-spacing: 2px;
  line-height: 30px;
  position: relative;
  text-transform: uppercase;
}
.wine__link:hover::before {
  width: 2.2rem;
}
.wine__link::before {
  background: #de844f;
  content: "";
  display: inline-block;
  height: 2px;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  width: 1.5rem;
}

.wine-bg-light {
  background-color: rgb(255, 251, 245);
}

/*# sourceMappingURL=main.css.map */
