/* Error: The default namespace "" is not a valid Sass identifier.
 * 
 * Recommendation: add an "as" clause to define an explicit namespace.
 *   ,
 * 2 | / @use "../global/"
 * 3 | \ 
 *   '
 *   assets\sass\components\_cart.scss 2:1        @use
 *   assets\sass\components\_components.scss 6:1  @use
 *   assets\sass\_main.scss 2:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The default namespace "" is not a valid Sass identifier.\a\aRecommendation: add an "as" clause to define an explicit namespace.\a   \2577 \a 2 \2502  \250c  @use "../global/"\a 3 \2502  \2514  \a   \2575 \a   assets\\sass\\components\\_cart.scss 2:1        @use\a   assets\\sass\\components\\_components.scss 6:1  @use\a   assets\\sass\\_main.scss 2:1                   root stylesheet';
}
