@use "../layouts/grid"as *;
@use "../global/responsive"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;

.about {
    padding: 80px 0;

    &__columns {
        @include grid(1fr 1fr);
        gap       : 50px;
        margin-top: 60px;

        @include devices(m) {
            grid-template-columns: 1fr;
        }

        &-row {

            img {
                display        : block;
                object-fit     : cover;
                object-position: center;
            }
        }
    }

    &__image {
        margin    : 40px 0;
        text-align: center;

        h3 {
            @include color("deep-mauve");
            @include font-secondary(20);
            letter-spacing: -0.05px;
            line-height   : 32px;
            margin        : 40px 0 10px;
        }
    }

    &__paragraph {
        @include color("slate-gray");
        @include font-primary(18);
        line-height: 30px;
        margin     : 20px 0;
    }
}

.about__wine {
    padding: 80px 0;

    &-container {
        @include grid(repeat(3, 1fr));
        gap          : 2rem;
        justify-items: center;
        max-width    : 980px;
        margin       : 0 auto;
        width        : 100%;

        @include devices(m) {
            grid-template-columns: 1fr;
        }
    }

    &-item {

        align-self: center;

        ul {
            width: 100%;

            li {
                @include color("slate-gray");
                @include font-primary(18);
                line-height  : 24px;
                margin-bottom: 1rem;
                width        : 100%;

                i {
                    @include color("sunset-amber");
                    font-size   : 1rem;
                    margin-right: 1rem;
                }
            }
        }

        img {
            display        : block;
            object-fit     : cover;
            object-position: center;
        }

    }
}

.oenologist {

    .special__title {
        margin-bottom: 1rem;
    }

    &__container {
        @include grid(repeat(3, 1fr));
        gap    : 2rem;
        padding: 80px 0;

        @include devices(m) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        text-align: center;

        &-img {
            border-radius: 50%;
            height       : 340px;
            margin       : 0 auto;
            width        : 340px;

            @include devices(t) {
                height: 200px;
                width : 200px;
            }

            @include devices(m) {
                height: 200px;
                width : 200px;
            }

            img {
                border-radius: 50%;
                display      : block;
                height       : 100%;
                object-fit   : cover;
                width        : 100%
            }
        }

        h3 {
            @include color("deep-mauve");
            @include font-secondary(20);
            letter-spacing: -0.05px;
            line-height   : 32px;
            margin-top    : 8px;
        }
    }
}

.festival {
    @include grid(1fr 1fr);
    align-items: center;
    padding    : 60px 0;
    gap        : 30px;

    @include devices(t) {
        align-items: start;
    }

    @include devices(m) {
        grid-template-columns: 1fr;
    }

    .special__title {
        font-size  : 50px;
        line-height: 60px;
        text-align : left;

        @include devices(t) {
            font-size  : 2.25rem;
            line-height: normal;
        }

        @include devices(m) {
            font-size  : 2rem;
            line-height: normal;
        }
    }

    &__image {
        img {
            display   : block;
            height    : 100%;
            object-fit: cover;
            width     : 100%;
        }
    }

    &__description {
        padding: 0 40px;

        @include devices(t) {
            padding: 0;
        }

        @include devices(m) {
            padding: 0;
        }
    }
}