@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../layouts/flex"as *;
@use "../global/responsive"as *;

.home {
    @include flex(center, center);
    @include color("pure-white");
    height: 110vh;
    width : 100%;

    &__container {
        max-width: 600px;
        width    : 100%;
    }

    &__title {
        @include font-secondary(82);
        letter-spacing: -0.2px;
        line-height   : 98px;
        margin-bottom : 20px;

        @include devices(m) {
            font-size  : 42px;
            line-height: 58px;
        }
    }

    &__paragraph {
        @include font-primary(18);
        line-height  : 30px;
        margin-bottom: 2rem;
    }

    &__contact {
        @include flex(center, center);
        gap       : 40px;
        padding   : 80px 0;
        text-align: center;

        @include devices(m) {
            flex-direction: column;
            gap           : 20px;
        }

        h4 {
            @include font-secondary(36);
            @include color("deep-mauve");
            letter-spacing: -0.1px;
            line-height   : 42px;

            @include devices(m) {
                font-size: 26px;
            }
        }
    }
}

#index {
    @include bg-gradient("../images/home-bg.webp");
}

#about {
    @include bg-gradient("../images/about-bg.jpg");
}

#shopping {
    @include bg-gradient("../images/shopping-bg.jpg");

    @include devices(xl) {
        height: 80vh;
    }

    @include devices(l) {
        height: 80vh;
    }
}

#contact {
    @include bg-gradient("../images/contact-bg.jpg");
}

#news {
    @include bg-gradient("../images/news-bg.jpg");

    @include devices(xl) {
        height: 70vh;
    }

    @include devices(l) {
        height: 70vh;
    }
}