@use "../layouts/grid"as *;
@use "../layouts/flex"as *;
@use "../global/responsive"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;

.news {
    @include grid(3fr 1fr);
    gap    : 3rem;
    padding: 120px 0;

    @include devices(m) {
        grid-template-columns: 1fr;
        padding              : 80px 0 0;
    }

    @include devices(t) {
        gap: 1rem;
    }
}

.post {
    &__image {
        width: 100%;

        img {
            display   : block;
            object-fit: cover;
            width     : 100%;
        }
    }

    &__info {
        padding: 2rem 0;
    }

    &__publication {
        @include color("slate-gray");
        @include font-primary(12);
        font-weight   : 600;
        letter-spacing: 2px;
        line-height   : 20px;
        margin-bottom : 8px;
        text-transform: uppercase;
    }

    &__title {
        @include color("black");
        @include font-secondary(30);
        line-height  : 44px;
        margin-bottom: 12px;
    }

    &__meta {
        display      : flex;
        gap          : 8px;
        margin-bottom: 1rem;

        li {
            @include color("dark-gray");
            @include font-primary(14);
            line-height: 28px;
            text-align : left;

            &+li {
                &::before {
                    content     : "/\00a0";
                    margin-right: 6px;
                }
            }
        }
    }

    &__paragraph {
        @include color("slate-gray");
        @include font-primary(18);
        line-height  : 30px;
        margin-bottom: 30px;
    }

    &__social {
        @include flex(start, end);
        border-bottom: 1px solid #efefef;
        gap          : 1rem;
        width        : 100%;

        @include devices(m) {
            justify-content: start;
        }

        li {
            a {
                @include color("slate-gray");
                @include font-primary(12);
                line-height: 32px;
                padding    : 0 3px;

                i {
                    transition: .3s ease-in-out;

                    @include hover {
                        @include color("light-gray");
                    }
                }
            }
        }
    }

    &__form {
        margin-bottom: 40px;
        position     : relative;
        width        : 100%;

        input {
            @include color("slate-gray");
            @include font-primary(18);
            appearance        : none;
            border            : 2px solid #eeeeee;
            line-height       : 20px;
            min-height        : 40px;
            outline           : none;
            text-indent       : 8px;
            width             : 100%;
            -webkit-appearance: none;

            &::-webkit-search-decoration,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }

        .search__icon {
            @include color("slate-gray");
            line-height: 40px;
            position   : absolute;
            right      : 22px;
            top        : 0;
        }
    }

    &__subtitle {
        @include font-primary(18);
        @include color("dark-gray");
        letter-spacing: -0.05px;
        line-height   : 30px;
        margin-bottom : 20px;
    }

    &__list {
        @include color("slate-gray");
        @include font-primary(18);
        margin-bottom: 40px;

        li {
            a {
                line-height: 30px;
                transition : .3s ease-in-out;

                @include hover {
                    @include color("blue-sky");
                    padding-left: 8px;
                }
            }

            i {
                font-size   : 10px;
                margin-right: 12px;
            }
        }
    }

    &__recents {
        list-style-type    : disc;
        list-style-position: inside;
    }
}